---
repo: "zephyrproject-rtos/test_results"
name: "test_results"
description: "Consolidated test results"
readmeQualityOk: false
url: "https://github.com/zephyrproject-rtos/test_results"
language: "Python"
languages: ["Python"]
languagePcts: [100]
topics: ["testing", "ci"]
stars: 9
forks: 11
openIssues: 80
closedIssues: 650
watchers: 5
contributors: 17
recentReleases: 0
createdAt: "2020-03-16T13:27:23Z"
lastCommitAt: "2026-09-02T08:03:06Z"
status: "thriving"
tags: ["legacy_hero", "fork_magnet"]
healthScore: 95
undervaluedScore: 71
maintainers: ["hakehuang", "erwango"]
openGraphImageUrl: "https://opengraph.githubassets.com/8623ae0d9ee9b77971e9b5b71230c8a8ca11d461aa98e55446ed52f97008b8c2/zephyrproject-rtos/test_results"
discussionCount: 3
---

Consolidated test results
